/*
 */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin: 3%;
    margin-top: 5%;
    font-family: "Calibri Light";
}

#top-nav{
    top:0;
    left:0;
    position:fixed;
    display:inline-flex;
    width:100%;
    height: 90px;
    z-index:10;
    background: rgba(240, 240, 240, 0.76);
}
#top-nav ul{
    margin: 0;
    display:inline-flex;
    list-style:none;
}
#top-nav ul li{
    top: 0;
    width: auto;
}
#top-nav a{
    top:0;
    display:inline-flex;
}
#top-nav a img{
    padding: 16px 0;
    width: 150px;
    margin-left: 20px;
}
#top-nav ul li:hover{
    background: rgba(155, 95, 33, 0.11);
}
#top-nav ul li a{
    color:#000;
    text-decoration:none;
    font-weight: bold;
    font-family: "Calibri Light";
    text-align: center;
    font-size: 120%;
    display: block;
    padding: 20px 15px;
}
#top-nav ul li a img{
    padding: 0;
    width:30px;
    transform: translateY(10px);
}

#main-new{
    position: relative;
    text-align: center;
    border: 2px solid grey;
    background-color: rgba(155, 95, 33, 0.11);
}
#main-new a img{
    width: 70%;
}
#main-new p a{
    text-decoration:none;
}
#main-new p a:hover{
    font-weight: bold;
}
p{
    width: 80%;
    text-align: left;
    margin-left: 10%; 
} 
.three-columns {
    display: table;
    margin: 5%;
}
.three-columns div{
    text-align: center;
}
.row{
    position: relative;
    display: table-row;
}
.column-1{
    display: table-cell;
    width: 40%;
    background-color: rgba(155, 95, 33, 0.17);
    border-right: 2px solid rgba(128, 128, 128, 0.45);
}
.column-2{
    display: table-cell;
    width: 30%;
    background-color: rgba(155, 95, 33, 0.13);
    border-right: 2px solid rgba(128, 128, 128, 0.45);
}
.column-3{
    display: table-cell;
    width: 20%;
    background-color: rgba(155, 95, 33, 0.04);
}



h3{
    color:rgb(140, 140, 140);
}

.hidden {
    display: none !important;
}

.c-1{
    display: table-cell;
    position: relative;
    text-align: center;
    border: 2px solid grey;
    background-color: rgba(155, 95, 33, 0.11);
    width: 80%;
}

.c-2 {
    display: table-cell;
    width: 20%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
    text-align: center;
}

footer{
    background-color: rgba(155, 95, 33, 0.11);
    margin-top: 5%;
}

#social ul{
    display: inline-flex;
    list-style: none;
    text-align: center;
    margin-inside: 0;
}

#social ul li{
    top: 0;
    width: auto;
    vertical-align: middle;
    padding-right: 3%;
    margin-left: 0;
    margin-right: 0;
}

#rights p {
    font-style: normal;
    font-size: medium;
}



/*
QUE FUNCIONE EN DOS NAVEGADORES
QUE AL HACER Crtl + ó Ctrl - LAS IMÁGENES TAMBIÉN AUMENTEN O DISMINUYAN
ARREGLAR UN PIE DE PÁGINA (ACCESO A REDES SOCIALES, DERECHOS...)
FALTA PÁGINA DE IMPRESIÓN
ARREGLAR TOP-NAV (que se vean los iconos al lado de cada palabra y bien alineados)
 */





