/*
 */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin: 3%;
    margin-top: 5%;
    font-family: "Calibri Light";
}
body{
    background-color: rgba(155, 95, 33, 0.11);
    margin:0 auto;
}
a{
    cursor:pointer;
}

#top-nav{
    top:0;
    left:0;
    position:fixed;
    display:inline-flex;
    width:100%;
    height: 80px;
    z-index:10;
    background: rgba(240, 240, 240, 0.76);
}
#top-nav ul{
    margin: 0;
    display:inline-flex;
    list-style:none;
}
#top-nav ul li{
    top: 0;
    width: auto;
    text-decoration:none;
    padding: 15px 5px;
    font-size: small;
}
#top-nav a{
    top:0;
    display:inline-flex;
}
#top-nav a img{
    padding: 12px 0;
    width: 150px;
    margin-left: 20px;
}
#top-nav ul li:hover{
    background: rgba(155, 95, 33, 0.11);
}
#top-nav ul li a{
    color:#000;
    text-decoration:none;
    font-weight: bold;
    font-family: "Calibri Light";
    font-size: 120%;
    display: block;
}
#top-nav ul li a img{
    padding: 0;
    width:30px;
    transform: translateY(10px);
}
#top-nav ul li input[type=text]{
    width: 90%;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid grey;
    margin-right: 1%;
}
#top-nav ul li input[type=text]:focus{
    border-bottom: 1px solid #555;
}
#top-nav ul li input[type=submit]{
    transition-duration: 0.4s;
    background-color: white;
    border: 1px solid rgba(201, 188, 187, 0.62);
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    transform: translateY(5px);
}
#top-nav ul li input[type=submit]:hover{
    background-color: #c9bcbb;
    color: white;
}
.two-columns{
    display: table;
    padding-top: 2%;
    padding-bottom: 3%;
}

#main-new{
    position: relative;
    text-align: left;
    border-bottom: #9f9f9f thin solid;
}

#main-new a img{
    width: 90%;
}
#main-new p a{
    text-decoration:none;
}
#main-new p a:hover{
    font-weight: bold;
}
.main-col-1{
    display: inline-block;
    width: 47%;
    padding: 0;
    position: relative;
    vertical-align: top;
}
.main-col-2{
    position: relative;
    padding: 0;
    display: inline-block;
    width: 53%;
    text-align: left;
}
p{
    width: 80%;
    text-align: left;
} 
.three-columns {
    display: table;
    margin: 0%;
}
.three-columns div{
    text-align: center;
}
.row{
    position: relative;
    display: table-row;
}
.column-1{
    display: table-cell;
    width: 40%;
    background: rgba(240, 224, 210, 0.49);
    border-right: thin solid rgba(128, 128, 128, 0.45);
}
.column-1 p{
    padding-left: 5%;
    margin-left: 5%;
}
.column-2{
    display: table-cell;
    width: 30%;
    background: rgba(240, 224, 210, 0.49);
    border-right: thin solid rgba(128, 128, 128, 0.45);
}
.column-2 p{
    padding-left: 5%;
    margin-left: 5%;
}
.column-3{
    display: table-cell;
    width: 20%;
    background: rgba(240, 224, 210, 0.49);
}
.column-3 p{
    padding-left: 5%;
    margin-left: 5%;
}



h3{
    color:rgb(140, 140, 140);
}
h4{
    font-style: italic;
    color:rgb(140, 140, 140);
    margin: 3%;
}
#autor{
    text-align: right;
    margin-right:8%;
}

.hidden {
    display: none !important;
}

.c-1{
    display: table-cell;
    position: relative;
    text-align: center;
    border-right: #9f9f9f thin solid;
    width: 80%;
}
.main-img{
    margin-bottom: 5%;
}
.main-img p{
    font-size: small;
    font-style: italic;
    margin-left: 15%;
    color: rgba(34, 34, 34, 0.47);
}

.c-2 {
    display: table-cell;
    width: 20%;
    border-left: #9f9f9f;
    background-color: rgb(255, 248, 248);
    margin-left: 15%;
    text-align: center;
}

footer{
    background-color: rgba(155, 95, 33, 0.11);
    margin-top: 5%;
}

ul{
    list-style: none;
}

.social{
    width: 100%;
}
.social ul{
    display: inline-flex;
    text-align: center;
    width: 100%;
    padding: 20px 0 0 0;
}

.social ul li{
    top: 0;
    width: auto;
    vertical-align: middle;
    margin:0 auto;

}
.social ul li a{
    display: block;
}
.social img{
    width:50px;
}

#rights p {
    font-style: normal;
    font-size: medium;
    margin-left :100px;
    padding-bottom: 5px;
}

.print{
    display: table-cell;
    position: relative;
    text-align: center;
    width: 80%;
    font-family: "Times New Roman";
}
.comment-btn{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    background:rgb(150,150,150);
    font-family: "Calibri Light";
    border-radius: 10px;
    border:0px solid;
    color: #fff;
    font-size: 20px;
}

#bottom-new{
    text-align: left;
}
#bottom-new div{
    display: inline-flex;
    margin-left: 10%;
}
#bottom-new div.social{
    display: inline-flex;
    margin-left: 0;
}
#bottom-new div a{
    display: block;
    width: 60px;
    height: 60px;
}
#bottom-new div a img{
    display: block;
    width: 60px;
    height: 60px;
}

.error{
    background: #ff4040;
    padding: 5px;
    border-radius: 5px;
    display: none;
}

#coment-block{
    top: 0;
    right: -400px;
    position: fixed;
    width: 400px;
    height: 100%;
    background-color: rgb(221, 214, 207);
    z-index: 1;
    -webkit-transition: all 2s;
    transition: all 2s;
    overflow: scroll;
}

#coment-block p.show{
    display: block;
}

#coment-block.show{
    right: 0;
}

#coment-block div{
    width: 100%;
    text-align: center;
}

#coment-block div input[type="text"]{
    width: 90%;
    margin: 5px 5%;
    height: 25px;
}

#coment-block div textarea{
    width: 90%;
    margin: 5px 5%;
    height: 150px;
}

#comments{
    margin-top:100px;
}
#comments li p{
    margin-left:10px;
}

#print-logo{
    text-align: right;
    color: rgba(34, 34, 34, 0.44);
    margin-right: 5%;
    font-size: larger;
}
#print-logo img{
    opacity: 0.5;
}
#print-logo p{
    font-size: small;
    color: rgba(18, 0, 34, 0.66);
    text-align: right;
}

.login{
    text-align: center;
}

.login form{
    width: 300px;
    background-color: #fff;
    padding: 30px 0;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login form input{
    width: 200px;
    height: 30px;
    margin: 10px 0;
}

.login form input[type="submit"]{
    width: 150px;
    height: 30px;
    border: 0px;
    border-radius: 4px;
    background-color: #1f2d36;
    color:rgb(255, 248, 248);
    font-size: 25px;
}

.login form h1{
    margin: 0;
    font-weight: bold;
    color: #000;
}

.login p.error{
    text-align: center;
    display: block;
    margin:auto;
}
.news-list{
    width: 100%;
    padding: 0;
    display: inline-block;
}
.news-list li{
    width: 30%;
    display: inline-block;
    background-color: #fff;
    margin: 20px 1.5%;
    border-radius: 20px;
    padding-bottom: 20px;
    vertical-align: top;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.news-list li p{
    margin: auto 10%;
}

.news-list li h2{
    margin: 15px auto 5px;
}
.news-list li h3{
    margin: 10px auto;
}
.news-list li a,.news-list li a:visited,.news-list li a:active{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
.news-list li a:hover{
    color: rgb(140, 140, 140);;
}
.overlay{
    position: fixed;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:20;
    top:0;
    left: 0; 
    display: none;
}
.overlay div{
    padding-bottom: 20px;
    position: fixed;
    background-color: rgba(255,255,255,1);
    z-index:20;
    top:50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    border-radius: 25px;
}
.overlay div p{
    margin: auto 10%;
}
.overlay div svg{
    width: 30px;
    fill:#ff0000;
    position: absolute;
    top:-5px;
    right: -5px;
    cursor:pointer;
}
    

/*
*QUE FUNCIONE EN DOS NAVEGADORES
*QUE AL HACER Crtl + ó Ctrl - LAS IMÁGENES TAMBIÉN AUMENTEN O DISMINUYAN
ARREGLAR EL PIE DE PÁGINA (ACCESO A REDES SOCIALES, DERECHOS...)

!! INCLUIR TODOS LOS meta
 */





